body{
    animation: colorchange 5s infinite;
   }
   @keyframes colorchange {
     0%{
       background-color: white;
     }
     50%{
       background-color: black;
     }
     100%{
       background-color: white;
     }
       
     }
     .nav{
        padding: 10px;
        text-align: end;
        word-spacing: 20px;
        font-size: large;
        cursor: pointer;
    }
    .secbg{
        width: 100%;
        max-width: 1100px;
        margin: 100px auto 0;
        border-radius: 30px;
        padding: 40px 35px;
        height: 550px;
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
     }
     .information{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
     }
     .info{
        font-family: 'Caveat', cursive;
        padding-left: 40px;
        font-size: 40px;
     }
     .set{
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
       }
       .bio{
        padding-left: 200px;
       }
       .myphoto{
        padding-left: 150px;
        padding-top: 50px;
       }
       .basic{
        font-family: sans-serif;
        font-size: medium;
       }
       .para{
        font-family: sans-serif;
        font-size: medium;
       }